{% extends "partials/index.html" %}
{% block content %}
     <script type="text/javascript">
        function redirect(url){
            window.location.href = url;
        }
    </script>
    <div class="centered-container">
        <div class="centered">
            <div class="floating-control-panel">
                <div class="client-info client-panel">
                    <form>
                        <fieldset>
                            <legend><strong>{{ client.user.get_full_name }}</strong></legend>
                            <div class="pure-u-1">
                                <p>{{ client.user.email }} ({{ client.user_id }}){% if client.address %} | {{ client.address }}{% endif %}
                                    | {% if client.user.is_active %}Active {% else %}Inactive {% endif %} |
                                    <i class="fa fa-envelope-o edit-button" onclick="redirect('/clients/{{ client.user_id }}/contact')"><span class="edit-button"> Email</span></i> |
                                    <i class="fa fa-cog edit-button" onclick="redirect('/clients/{{ client.user_id }}/manage')"><span class="edit-button"> Manage</span></i>
                                </p>
                            </div>
                            <div class="pure-u-1">
                                <span class="fa fa-file-pdf-o {{ client.nda_status }} edit-button" onclick="redirect('/clients/{{ client.user_id }}/forms/nda')"></span> NDA status: <strong class="{{ client.nda_status }}">{{ client.nda_status|capfirst }}</strong>
                            </div>
                            <div class="pure-u-1">
                                <span class="fa fa-file-pdf-o {{ client.statement_of_work_status }} edit-button" onclick="redirect('/clients/{{ client.user_id }}/forms/statement_of_work')"></span> Statement Of Work Status: <strong class="{{ client.statement_of_work_status }}">{{ client.statement_of_work_status|capfirst }}</strong>
                            </div>
                            <div class="pure-u-1">
                                <span class="fa fa-file-pdf-o {{ client.consulting_agreement_status }} edit-button" onclick="redirect('/clients/{{ client.user_id }}/forms/consulting_agreement')"></span> Consulting Agreement Status: <strong class="{{ client.consulting_agreement_status }}">{{ client.consulting_agreement_status|capfirst }}</strong>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <form class="pure-form pure-form-stacked">
                    <fieldset>
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <button class="btn btn sharp pure-u-23-24" formaction="forms/nda/" formmethod="get" type="submit">
                                    <i class="fa fa-file-pdf-o" style="float: left"></i>
                                    Create a NDA form
                                </button>
                            </div>
                            <div class="pure-u-1-2">
                                <button class="btn btn sharp pure-u-23-24" formaction="forms/statement_of_work/" formmethod="get" type="submit">
                                    <i class="fa fa-file-pdf-o" style="float: left"></i>
                                    Create a Statement of Work form
                                </button>
                            </div>
                            <div class="pure-u-1-2">
                                <button class="btn btn sharp pure-u-23-24" formaction="forms/consulting_agreement/" formmethod="get" type="submit">
                                    <i class="fa fa-file-pdf-o" style="float: left"></i>
                                    Create a Consulting Agreement form
                                </button>
                            </div>
                            <div class="pure-u-1-2">
                                <button class="btn btn sharp pure-u-23-24" formaction="forms/purchase_request/" formmethod="get" type="submit">
                                    <i class="fa fa-file-pdf-o" style="float: left"></i>
                                    Create a Purchase Request form
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}