{% extends "partials/index.html" %}
{% block content %}
    <div class="centered-container">
        <div class="centered">
            <div class="floating-control-panel">
                <h1>Controls for {{ user }}</h1>
                <form class="pure-form pure-form-stacked">
                    <fieldset>
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <button class="btn btn sharp pure-u-23-24" formaction="email/" formmethod="get" type="submit">
                                    <i class="fa fa-envelope" style="float: left"></i>
                                    Email
                                </button>
                            </div>
                            <div class="pure-u-1-2">
                                <button class="btn btn sharp pure-u-23-24" formaction="manage/" formmethod="get" type="submit">
                                    <i class="fa fa-cog" style="float: left"></i>
                                    Manage
                                </button>
                            </div>
                            <div class="pure-u-1-2">
                                <button class="btn btn sharp pure-u-23-24" formaction="forms/nda/" formmethod="get" type="submit">
                                    <i class="fa fa-file-pdf-o" style="float: left"></i>
                                    Create a NDA form
                                </button>
                            </div>
                            <div class="pure-u-1-2">
                                <button class="btn btn sharp pure-u-23-24" formaction="forms/statement_of_work/" formmethod="get" type="submit">
                                    <i class="fa fa-file-pdf-o" style="float: left"></i>
                                    Create a Statement Of Work form
                                </button>
                            </div>
                            <div class="pure-u-1-2">
                                <button class="btn btn sharp pure-u-23-24" formaction="forms/consulting_agreement/" formmethod="get" type="submit">
                                    <i class="fa fa-file-pdf-o" style="float: left"></i>
                                    Create a Consulting Agreement form
                                </button>
                            </div>
                            <div class="pure-u-1-2">
                                <button class="btn btn sharp pure-u-23-24" formaction="forms/purchase_request/" formmethod="get" type="submit">
                                    <i class="fa fa-file-pdf-o" style="float: left"></i>
                                    Create a Purchase Request form
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}