{% extends 'partials/index.html' %}
{% block content %}
    <div class="centered-container">
        <div class="centered">
            <div class="floating-control-panel">
                <form>
                <h1>Contact {{ client.user.get_full_name }} ({{ client.user.email }})</h1>
                    <fieldset>
                        {% for field in form %}
                            <strong>{{ field.label }}</strong>
                            {{ field }}
                        {% endfor %}
                        {% csrf_token %}
                        <input class="btn btn green pure-u-1" type="submit" value="Send" formaction="" formmethod="post">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}