{% extends 'partials/index.html' %}
{% block content %}
    <div class="centered-container">
        <div class="centered">
            <div class="floating-control-panel">
                <form>
                <h1>Contact {{ client.get_full_name }} ({{ client.email }})</h1>
                    <fieldset>
                        {% for field in form %}
                            <strong>{{ field.label }}</strong>
                            {{ field }}
                        {% endfor %}
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}