{% extends 'partials/index.html' %}
{% block content %}
<div class="centered-container">
    <div class="centered">
        <div class="floating-control-panel">
            <form class="pure-form pure-form-stacked" action="accounts/search/" method="post">
                <fieldset>
                    <div class="pure-g">
                         <div class="pure-u-1">
                             <div class="search">
                                 <span class="fa fa-search"></span>
                                 <input type="text" class="pure-u-1" name="email" placeholder="Search for a client...">
                                 {% csrf_token %}
                                 <input type="submit" value="">
                             </div>
                         </div>
                        <div class="pure-u-1">
                            <button class="btn sharp pure-u-1">
                                <i class="fa fa-plus" style="float: left"></i>
                                Add a new client
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock content %}