{% load staticfiles %}
<html lang="en">
    <head>
            <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type="text/css"/>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
            <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
            <link href="{% static 'bower_components/pure/pure-min.css' %}" rel="stylesheet" type="text/css"/>
            <link href="{% static 'bower_components/pure/grids-responsive-min.css' %}" rel="stylesheet" type="text/css"/>
            <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
            <link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}">
            <link rel="icon" sizes="16x16 32x32 64x64" href="{% static 'img/favicons/favicon.ico' %}">
            <link rel="icon" type="image/png" sizes="196x196" href="{% static 'img/favicons/favicon-192.png' %}">
            <link rel="icon" type="image/png" sizes="160x160" href="{% static 'img/favicons/favicon-160.png' %}">
            <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicons/favicon-96.png' %}">
            <link rel="icon" type="image/png" sizes="64x64" href="{% static 'img/favicons/favicon-64.png' %}">
            <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32.png' %}">
            <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16.png' %}">
            <link rel="apple-touch-icon" href="{% static 'img/favicons/favicon-57.png' %}">
            <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicons/favicon-114.png' %}">
            <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicons/favicon-72.png' %}">
            <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicons/favicon-144.png' %}">
            <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicons/favicon-60.png' %}">
            <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicons/favicon-120.png' %}">
            <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicons/favicon-76.png' %}">
            <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicons/favicon-152.png' %}">
            <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/favicon-180.png' %}">
            <meta name="msapplication-TileColor" content="#FFFFFF">
            <meta name="msapplication-TileImage" content="{% static 'img/favicons/favicon-144.png' %}">
            <meta name="msapplication-config" content="{% static 'img/favicons/browserconfig.xml' %}">
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>
    <body>
        {% block navigation %}
            <div id="navbar">
                <div class="navigation-bar">
                    <ul>
                        <li><a class="active" href="/">Home</a></li>
                        <form name="login" action="" method="post">
                            {% if user.is_authenticated %}
                                <li style="float:right"><a href="/logout/">Logout {{ user }}</a></li>
                                {% csrf_token %}
                                <li style="margin-left: 25%; width: 43%; font-family: 'Open Sans', sans-serif;">
                                    <input class="pure-u-21-24" name="search" title="search" placeholder="Search for a client..." formaction="/accounts/search/" formmethod="post">
                                    <input class="pure-u-2-24 btn btn green" style="padding: 5px" type="submit" formaction="/accounts/search/" formmethod="post" value="Search">
                                {% else %}
                                    {% csrf_token %}
                                    <li style="float:right"><a style="cursor: pointer" onclick="login.submit()">Login</a></li>
                                    <li style="float:right"><input class="pure-u-1" name="password" type="password" title="password" placeholder="Password"></li>
                                    <li style="float:right"><input class="pure-u-1" name="username" title="username" placeholder="Username"></li>
                            {% endif %}
                        </form>
                    </ul>
                </div>
            </div>
        {% endblock navigation %}
        {% block messages %}
            <script type="text/javascript">
                function closeAlert() {
                    $( '#alert' ).fadeOut();
                }
            </script>
            <div id="messages">
                 {% if messages %}
                    {% for message in messages %}
                        <div{% if message.tags %} class="alert alert-{{ message.tags }} data-dismissable fade in" id="alert"{% endif %}>
                          <a class="close" data-dismiss="alert" aria-label="close" onclick="closeAlert()">&times;</a>
                            <i class="material-icons {{ message.tags }}">info_outline</i>
                          <strong>{{ message.tags|capfirst }}!</strong> {{ message|safe }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endblock messages %}
        {% block content %}
            <div id="content"></div>
        {% endblock content %}
    </body>
</html>