{% extends "partials/index.html" %}
{% block content %}
      <script type="text/javascript">
        function redirect(url){
            window.location.href = url;
        }
    </script>
    <div class="centered-container">
        <div class="centered">
            <div class="floating-login-box">
                <h1><strong>Welcome to Raise Forms!</strong></h1>
                <p>Please log in.</p>
                <form class="pure-form pure-form-stacked" action="" method="post">
                    <fieldset>
                        <div class="pure-g">
{#                            <div class="pure-u-1 error-text">#}
{#                                {% if form.errors %}#}
{#                                    {{ form.errors| pluralize }}#}
{#                                {% endif %}#}
{#                            </div>#}
                            <div class="pure-u-1">
                                <label for="username">Username</label>
                                <input id="username" class="pure-u-1" name="username" placeholder="Username" />
                            </div>
                            <div class="pure-u-1">
                                <label for="password">Password</label>
                                <input id="password" class="pure-u-1" type="password" name="password" placeholder="Password" />
                            </div>
                            {% csrf_token %}
                            <div class="pure-u-1">
                                <input type="submit" class="btn green pure-u-1" style="text-align:center" value="Login"/>
                            </div>
                        </div>
                    </fieldset>
                    <a href="#" onclick="redirect('/accounts/password_reset')">Forgot Password</a>
                </form>
            </div>
        </div>
    </div>
{% endblock content%}