/* line 1, ../sass/_forms.scss */
input {
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 5px;
  padding-left: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
}

/* line 12, ../sass/_forms.scss */
select {
  display: block;
  margin: auto;
  height: 2em;
  font-size: 1em;
  overflow: hidden;
  border: 1px solid #ccc;
  padding-left: 5px;
  padding-right: 10px;
}

/* line 23, ../sass/_forms.scss */
button {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
  padding-left: 10px;
}

/* line 31, ../sass/_forms.scss */
.btn-container {
  width: 100%;
  overflow: hidden;
  *zoom: 1;
}

/* line 36, ../sass/_forms.scss */
.btn {
  background-color: whitesmoke;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #4ED1AA;
  display: inline-block;
  cursor: pointer;
  text-align: justify;
  padding: 9px;
  margin-top: 8px;
  magin-bottom: 8px;
  border-style: none;
}

/* line 49, ../sass/_forms.scss */
.btn.green, .btn.btn-search {
  background-color: #4ED1AA;
  color: #fff;
}

/* line 54, ../sass/_forms.scss */
.btn.btn-search {
  padding: 8px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 60, ../sass/_forms.scss */
.btn.clear {
  background-color: transparent;
  color: inherit;
}

/* line 65, ../sass/_forms.scss */
.btn.full {
  display: block;
}

/* line 69, ../sass/_forms.scss */
.btn.inline {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 74, ../sass/_forms.scss */
.btn.sharp, .btn.update, .btn.deactivate {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}

/* line 82, ../sass/_forms.scss */
div.pure-u-1 > ul {
  list-style-type: none;
}
/* line 84, ../sass/_forms.scss */
div.pure-u-1 > ul > li {
  display: inline-block;
}
/* line 86, ../sass/_forms.scss */
div.pure-u-1 > ul > li label {
  float: left;
  clear: none;
  display: block;
  padding: 2px 1em 0 0;
}
/* line 93, ../sass/_forms.scss */
div.pure-u-1 > ul > li input[type=radio],
div.pure-u-1 > ul > li input.radio {
  float: left;
  clear: none;
  margin: 4px;
}

/* line 103, ../sass/_forms.scss */
.btn.sharp:hover, .btn.update:hover, .btn.deactivate:hover {
  color: #B12E55;
}

/* line 107, ../sass/_forms.scss */
.btn.update, .btn.deactivate {
  font-weight: inherit;
  background-color: #4ED1AA;
  color: whitesmoke;
}

/* line 114, ../sass/_forms.scss */
.btn.update:hover, .btn.deactivate:hover {
  background-color: #8be1c7;
  color: white;
}

/* line 119, ../sass/_forms.scss */
.btn.deactivate {
  background-color: #B12E55;
}

/* line 124, ../sass/_forms.scss */
.btn.deactivate:hover {
  background-color: #d4587d;
}

/* Login form styling taken from: http://andytran.me/ */
/* Overlay */
/* line 16, ../sass/_login.scss */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 0;
}

/* Pen Title */
/* line 26, ../sass/_login.scss */
.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 34, ../sass/_login.scss */
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
/* line 39, ../sass/_login.scss */
.pen-title span {
  font-size: 12px;
}
/* line 41, ../sass/_login.scss */
.pen-title span .fa {
  color: #4ED1AA;
}
/* line 44, ../sass/_login.scss */
.pen-title span a {
  color: #4ED1AA;
  font-weight: 600;
  text-decoration: none;
}

/* Form Module */
/* line 53, ../sass/_login.scss */
.form-module, .onboarding-form-module {
  position: relative;
  background: #ffffff;
  max-width: 480px;
  width: 100%;
  border-top: 5px solid #4ED1AA;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
/* line 61, ../sass/_login.scss */
.form-module .toggle, .onboarding-form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background: #4ED1AA;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
/* line 74, ../sass/_login.scss */
.form-module .toggle .tooltip, .onboarding-form-module .toggle .tooltip {
  position: absolute;
  top: 5px;
  right: -65px;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  width: auto;
  padding: 5px;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}
/* line 85, ../sass/_login.scss */
.form-module .toggle .tooltip:before, .onboarding-form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}
/* line 97, ../sass/_login.scss */
.form-module .form, .onboarding-form-module .form {
  padding: 40px;
}
/* line 99, ../sass/_login.scss */
.form-module .form:nth-child(2), .onboarding-form-module .form:nth-child(2) {
  display: block;
}
/* line 104, ../sass/_login.scss */
.form-module h2, .onboarding-form-module h2 {
  margin: 0 0 20px;
  color: #4ED1AA;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
/* line 111, ../sass/_login.scss */
.form-module input, .onboarding-form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}
/* line 120, ../sass/_login.scss */
.form-module input:focus, .onboarding-form-module input:focus {
  border: 1px solid #4ED1AA;
  color: #333333;
}
/* line 125, ../sass/_login.scss */
.form-module button, .onboarding-form-module button {
  cursor: pointer;
  background: #4ED1AA;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}
/* line 133, ../sass/_login.scss */
.form-module button:hover, .onboarding-form-module button:hover {
  background: #2ba782;
}
/* line 137, ../sass/_login.scss */
.form-module .cta, .onboarding-form-module .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}
/* line 145, ../sass/_login.scss */
.form-module .cta a, .onboarding-form-module .cta a {
  color: #333333;
  text-decoration: none;
}

/* line 152, ../sass/_login.scss */
.onboarding-form-module {
  max-width: 640px;
}
/* line 155, ../sass/_login.scss */
.onboarding-form-module .form {
  text-align: left;
  padding: 10px;
}
/* line 158, ../sass/_login.scss */
.onboarding-form-module .form:nth-child(2) {
  display: block;
}
/* line 163, ../sass/_login.scss */
.onboarding-form-module > ul {
  list-style-type: none;
}
/* line 165, ../sass/_login.scss */
.onboarding-form-module > ul > li {
  display: inline-block;
}
/* line 167, ../sass/_login.scss */
.onboarding-form-module > ul > li label {
  float: left;
  clear: none;
  display: block;
  padding: 2px 1em 0 0;
}
/* line 174, ../sass/_login.scss */
.onboarding-form-module > ul > li input[type=radio],
.onboarding-form-module > ul > li input.radio {
  float: left;
  clear: none;
  margin: 4px;
}
/* line 183, ../sass/_login.scss */
.onboarding-form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}
/* line 192, ../sass/_login.scss */
.onboarding-form-module input:focus {
  border: 1px solid #4ED1AA;
  color: #333333;
}

/* line 22, ../sass/style.scss */
*, *::before, *::after {
  box-sizing: border-box;
}

/* line 26, ../sass/style.scss */
body {
  padding-top: 65px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: calc( 100% - 65px - 10px );
  width: 100%;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

/* line 44, ../sass/style.scss */
h1, h2, h3 {
  font-weight: 300;
  color: #333;
}

/* line 49, ../sass/style.scss */
.login-button {
  position: relative;
}
/* line 52, ../sass/style.scss */
.login-button .login-menu {
  position: absolute;
  display: none;
  top: 100%;
  right: -15px;
  padding: 15px;
  background-color: #eee;
  border-bottom: 3px solid #4ED1AA;
  border-left: 3px;
  border-right: 3px;
  z-index: 100;
  font-size: 1rem;
}
/* line 65, ../sass/style.scss */
.login-button .login-menu:hover::after {
  position: absolute;
  left: -50px;
  right: -50px;
  top: -50px;
  bottom: -50px;
  content: " ";
  z-index: -100;
}
/* line 77, ../sass/style.scss */
.login-button .error-text {
  line-height: 1.2em;
  font-size: 0.85em;
  padding: 0.75em;
}

/* line 84, ../sass/style.scss */
.login-button:hover .login-menu {
  display: block;
}

/* line 88, ../sass/style.scss */
table {
  border-spacing: 0;
  text-align: left;
  font-weight: 300;
}

/* line 94, ../sass/style.scss */
th, td {
  padding: 10px;
  padding-left: 20px;
  padding-right: 30px;
}

/* line 100, ../sass/style.scss */
th:first-child, td:first-child {
  padding-left: 10px;
}

/* line 104, ../sass/style.scss */
th:last-child, td:last-child {
  padding-right: 10px;
}

/* line 108, ../sass/style.scss */
th {
  font-weight: 500;
  border-bottom: 2px solid #333;
}

/* line 113, ../sass/style.scss */
td {
  border-bottom: 1px solid #333;
  font-size: 0.9em;
}

/* line 118, ../sass/style.scss */
a {
  color: #4ED1AA;
}

/* line 122, ../sass/style.scss */
a:hover {
  color: #9fe6d1;
}

/* line 126, ../sass/style.scss */
a:visited {
  color: #B12E55;
}

/* line 130, ../sass/style.scss */
.two-column {
  display: table;
  width: 100%;
}

/* line 135, ../sass/style.scss */
.two-column > div {
  display: table-cell;
  vertical-align: top;
  position: relative;
}

/* line 141, ../sass/style.scss */
.two-column > div:first-child {
  padding-right: 20px;
}

/* line 145, ../sass/style.scss */
.two-column > div:last-child {
  padding-left: 20px;
}

/* line 149, ../sass/style.scss */
.error-text, .success-text {
  background-color: #ff3a3c;
  color: #fff;
  max-height: 4em;
  opacity: 1;
  padding: 0.5em;
  padding-left: 0.5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition-property: padding, margin, max-height, opacity;
  -o-transition-property: padding, margin, max-height, opacity;
  -webkit-transition-property: padding, margin, max-height, opacity;
  transition-property: padding, margin, max-height, opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* line 162, ../sass/style.scss */
.error-text:empty, .success-text:empty {
  padding-left: 0.5em;
  margin: 0;
  padding: 0;
  max-height: 0;
  opacity: 0;
}

/* line 170, ../sass/style.scss */
.success-text {
  background-color: mediumspringgreen;
}

/* line 174, ../sass/style.scss */
.centered-container {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: table;
}

/* line 183, ../sass/style.scss */
.centered {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* line 189, ../sass/style.scss */
.floating-login-box {
  max-width: 600px;
  border: 3px solid #4ED1AA;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}
/* line 197, ../sass/style.scss */
.floating-login-box form {
  text-align: left;
}

/* line 202, ../sass/style.scss */
.floating-control-panel {
  max-width: 800px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}
/* line 208, ../sass/style.scss */
.floating-control-panel form {
  text-align: left;
}

/* line 213, ../sass/style.scss */
.search {
  position: relative;
}

/* line 214, ../sass/style.scss */
.search input[type="text"] {
  height: 50px;
  text-indent: 35px;
}

/* line 219, ../sass/style.scss */
.search input[type="submit"] {
  height: 50px;
  background-color: #4ED1AA;
  color: whitesmoke;
  width: 40px;
  margin-right: -30px;
  margin-top: -54px;
  border-radius: 0;
}

/* line 229, ../sass/style.scss */
.search .fa-search {
  color: whitesmoke;
  position: absolute;
  top: 14px;
  left: 11px;
  font-size: 20px;
}

/* line 237, ../sass/style.scss */
.search .fa-search:hover {
  color: #555;
  cursor: pointer;
}

/* line 242, ../sass/style.scss */
.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: whitesmoke;
  border-bottom: 3px solid #4ED1AA;
  font-weight: bold;
  z-index: 1;
}
/* line 252, ../sass/style.scss */
.navigation-bar ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
}
/* line 259, ../sass/style.scss */
.navigation-bar li {
  float: left;
  display: block;
}
/* line 264, ../sass/style.scss */
.navigation-bar li a {
  display: block;
  color: #4ED1AA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* line 272, ../sass/style.scss */
.navigation-bar li a:hover:not(.active) {
  background-color: #b3ebdb;
  color: white;
}
/* line 277, ../sass/style.scss */
.navigation-bar .active {
  background-color: #4ED1AA;
  color: whitesmoke;
}

/* line 283, ../sass/style.scss */
.edit-button {
  cursor: pointer;
  color: #4ED1AA;
}

/* line 288, ../sass/style.scss */
.edit-button:hover {
  color: #B12E55;
}

/* line 292, ../sass/style.scss */
.completed {
  color: #44fa59;
}

/* line 296, ../sass/style.scss */
.pending {
  color: #ffc300;
}

/* line 300, ../sass/style.scss */
.incomplete {
  color: #ff2523;
}

/* line 304, ../sass/style.scss */
.client-info {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 187px;
}
/* line 308, ../sass/style.scss */
.client-info fieldset {
  border: solid 1px #dddddd;
  padding: 1.25rem;
  margin: 1.125rem 0;
  text-align: left;
}
/* line 313, ../sass/style.scss */
.client-info fieldset legend {
  width: inherit;
  background: white;
  padding: 0 0.1875rem;
  margin: 0;
  margin-left: -0.1875rem;
  border-bottom: none;
}

/* line 324, ../sass/style.scss */
.client-info.client-panel {
  margin: auto;
  margin-right: 15px;
}
/* line 327, ../sass/style.scss */
.client-info.client-panel legend {
  text-align: center;
}

/* line 332, ../sass/style.scss */
.alert-success, .alert-info, .alert-warning, .alert-danger {
  background-color: inherit;
  color: inherit;
  border: solid 1px #dddddd;
  border-left-width: 10px;
  max-height: 50px;
  padding-left: 5px;
  padding-top: 10px;
  vertical-align: middle;
}

/* line 343, ../sass/style.scss */
.alert-success {
  border-left-color: #44fa59;
}

/* line 347, ../sass/style.scss */
.alert-info {
  border-left-color: #0055FF;
}

/* line 351, ../sass/style.scss */
.alert-warning {
  border-left-color: #ffc300;
}

/* line 355, ../sass/style.scss */
.alert-danger {
  border-left-color: #ff2523;
}

/* line 359, ../sass/style.scss */
.material-icons {
  display: inline;
  vertical-align: middle;
  font-size: 30px;
}

/* line 365, ../sass/style.scss */
.material-icons.success {
  color: #44fa59;
}

/* line 369, ../sass/style.scss */
.material-icons.info {
  color: #0055FF;
}

/* line 373, ../sass/style.scss */
.material-icons.warning {
  color: #ffc300;
}

/* line 377, ../sass/style.scss */
.material-icons.danger {
  color: #ff2523;
}

/* line 382, ../sass/style.scss */
.fa > span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #333;
}

/* line 389, ../sass/style.scss */
.fa-spinner {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: #4ED1AA;
}
